<div class="init">
    <div id="lite-mode-init" data-w-id="3b2b2e1c-4d65-6161-6ca7-e581b673575b" class="lite-mode-init"></div>
    <div id="drk-mode-init" data-w-id="3b2b2e1c-4d65-6161-6ca7-e581b673575c" class="drk-mode-init"></div>
  </div>